@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Text */
/*General Font Colors*/
$text-color-W: #FFFF;
$text-color-G: #081F32;
$text-color-Gb: #374A59;
$text-color-Gw: #999999;

/*General Font Size*/
$Title-size: 3vw;
$Bold-size: 1vw;
$Regular-size: 1vw;

/*General Font Weight*/
$Bold: 600;
$Regular: 400; 

/*Favorites Nav*/
$fav-nav-widthSize: 20vw;
$fav-nav-hieghtSize: 4vh;
$fav-nav-padding: .5vh;
$fav-nav-color: #6B63B5;

/* Buttons */
/* Buttons Size */
$btn-widthSize: 20vw;
$btn-padding: 2vh;

/* Buttons Colors*/
$btn-color-outline: 4px solid#6B63B5;
$btn-color-active: #6B63B5;
$btn-color-inactive: rgba(0, 0, 0, 0.6);
$btn-color-hover: rgba(107, 99, 181, 0.6);

/*Gradient Color by House*/
$Gryffindor: 135deg, #FF0000 0%, #FED482 100%;
$Slytherin: 135deg, #1C792B 0%, #82E95E 100%;
$Hufflepuff: 135deg, #FFC700 0%, #FFF388 100%;
$Ravenclaw: 135deg, #0597B7 0%, #66D1FF 100%;
$noneHouse: 135deg, #7C7C7C 0%, #A8A8A8 100%;

/*Generals*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color:black;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  margin: 0;
}

button{
  cursor: pointer;
}

span{
  margin: 0;
}

/*MainVIEW*/
.mainView{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainView__background{
  width: 100vw;
  height: auto;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  z-index: -1;
}