@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* Text */
/*General Font Colors*/
/*General Font Size*/
/*General Font Weight*/
/*Favorites Nav*/
/* Buttons Colors*/
/*Gradient Color by House*/
/*Generals*/
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

span {
  margin: 0;
}

/*MainVIEW*/
.mainView {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mainView__background {
  width: 100vw;
  height: auto;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  z-index: -1;
}

.favoritesNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 4vh;
  background-color: #6b63b5;
  border-radius: 0 0 15px 15px;
  position: fixed;
  top: 0;
  right: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.favoritesNav__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 4vh;
  background-color: #6b63b5;
  outline: none;
  border-style: none;
}
.favoritesNav__btn__text {
  color: white;
  font-size: 1vw;
  padding: 0.5vh;
}
.favoritesNav__btn__icon {
  width: 1.2vw;
  margin-left: 0.2rem;
}
.favoritesNav .favoritesNav__btn:nth-child(odd) {
  border-radius: 0 0 0 15px;
  border-right: 0.05rem solid #403B6D;
}
.favoritesNav .favoritesNav__btn:nth-child(even) {
  border-radius: 0 0 15px 0;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-top: 10vh;
}
.nav__img {
  width: 20vw;
  margin-bottom: 1rem;
}
.nav__text {
  color: white;
  font-size: 3vw;
  font-weight: 600;
  margin-bottom: 1rem;
}
.nav__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__btns__filter--active, .nav__btns__filter {
  width: 23vw;
  padding: 2vh;
  border: 4px solid #6B63B5;
  color: white;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav__btns__filter--active--active, .nav__btns__filter--active {
  background-color: #6b63b5;
}
.nav__btns__filter--active:hover, .nav__btns__filter:hover {
  background-color: rgba(107, 99, 181, 0.6);
}

.mainCharacters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  margin-top: 5%;
  overflow-y: scroll;
}

.mainCharacters::-webkit-scrollbar {
  width: 0.1vw;
}

.mainCharacters::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.mainCharacters::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  height: 0%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 48%;
  height: 12rem;
}
.card__character-img__image {
  width: 70%;
  height: 60%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.card__character-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
  border-radius: 0 16px 16px 0;
}
.card .--alive {
  background-color: white;
}
.card .--finado {
  background-color: #cccccc;
}
.card__character-data__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 20%;
}
.card__character-data__stats .card__character-data__stats__bookmark {
  width: 2vw;
  height: auto;
}
.card__character-data__name {
  width: 80%;
  color: #081f32;
  font-size: 1.9vw;
  font-weight: 600;
}
.card__character-data__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 80%;
  height: 40%;
  font-size: 1vw;
  margin-bottom: 1.5rem;
}
.card__character-data__info__rule--bold {
  font-weight: 600;
}
.card__character-data__info__rule--regular {
  font-weight: 400;
}

.card:nth-child(odd) {
  margin: 0 4% 4% 0;
}

.card:nth-child(even) {
  margin: 0 0 4% 0;
}

.Gryffindor,
.Slytherin,
.Ravenclaw,
.Hufflepuff,
.noneHouse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  border-radius: 16px 0 0 16px;
}

.Gryffindor {
  background: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
}

.Slytherin {
  background: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
}

.Ravenclaw {
  background: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
}

.Hufflepuff {
  background: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
}

.noneHouse {
  background: linear-gradient(135deg, #7c7c7c 0%, #a8a8a8 100%);
}

/*# sourceMappingURL=Sass.css.map */
