$colorborder: #403B6D;
$colorbg: #6B63B5;
$fontcolor: white;
$fontsizeone: 13px;
$fontsizetwo: xx-large;

.btnfixsed{
    display: flex;
    position: fixed;
    width: 100%;
    height: 54px;
    justify-content: flex-end;
    margin-right: 15em;
    
    button{
        background: $colorbg;
        border: solid 2px $colorborder;
        color: $fontcolor;
        font-size: $fontsizeone;
        width: 12%;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 25px;
            height: 25px;   
        }
    }

    @media (max-width: 508px ) {

            display: flex;
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 102px;
            flex-direction: row;
    
            button{
                background: $colorbg;
                border: solid 2px $colorborder;
                color: $fontcolor;
                width: 40%;
                height: 40px;
                font-size: $fontsizetwo;
    
                    img{
                        width: 40px;
                        height: 40px;
                    }
            }
        
    }    
}  

.btnFavorites{
    border-radius: 0px 0px 0px 17px;
    @media (max-width: 508px ){
        border-radius: 20px 0px 0px 0px;
    }
}

.btnAdd{
    border-radius: 0px 0px 17px 0px;
    @media (max-width: 508px ){
        border-radius: 0px 20px 0px 0px;
    }
}
    





    