@use "./GlobalStyles";

.mainCharacters {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-top: 5%;
}

.card {
  width: 48%;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: row;

  &__character-img__image {
    width: 70%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  &__character-data {
    width: 65%;
    height: 100%;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .--alive {
    background-color: #ffff;
  }

  .--finado {
    background-color: #cccccc;
  }

  &__character-data__stats {
    width: 80%;
    height: 20%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .card__character-data__stats__bookmark {
      width: 2vw;
      height: auto;
    }
  }

  &__character-data__name {
    width: 80%;
    color: GlobalStyles.$text-color-G;
    font-size: GlobalStyles.$CharacerName-size;
    font-weight: GlobalStyles.$Bold;
  }

  &__character-data__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    font-size: GlobalStyles.$Regular-size;
    margin-bottom: 1.5rem;

    &__rule--bold {
      font-weight: GlobalStyles.$Bold;
    }

    &__rule--regular {
      font-weight: GlobalStyles.$Regular;
    }
  }
}

//  / colores / modifiaciones especifiacas
.card:nth-child(odd) {
  margin: 0 4% 4% 0;
}

.card:nth-child(even) {
  margin: 0 0 4% 0;
}

.Gryffindor,
.Slytherin,
.Ravenclaw,
.Hufflepuff,
.noneHouse {
  width: 40%;
  height: 100%;
  border-radius: 16px 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Gryffindor {
  background: linear-gradient(GlobalStyles.$Gryffindor);
}

.Slytherin {
  background: linear-gradient(GlobalStyles.$Slytherin);
}

.Ravenclaw {
  background: linear-gradient(GlobalStyles.$Ravenclaw);
}

.Hufflepuff {
  background: linear-gradient(GlobalStyles.$Hufflepuff);
}
.noneHouse {
  background: linear-gradient(GlobalStyles.$noneHouse);
}
