@use "./GlobalStyles";
@use "./Mixins";

.favoritesNav {
  @include Mixins.flex(row, center, center);
  width: 22vw;
  height: 4vh;
  background-color: GlobalStyles.$fav-nav-color;
  border-radius: 0 0 15px 15px;
  position: fixed;
  top: 0;
  right: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  &__btn {
    @include Mixins.flex(row, center, center);
    width: 45%;
       height: 4vh;
    background-color: GlobalStyles.$fav-nav-color;
    outline: none;
    border-style: none;
    

    &__text {
      color: GlobalStyles.$text-color-W;
      font-size: GlobalStyles.$Regular-size;
      padding: GlobalStyles.$fav-nav-padding;
    }

    &__icon {
      width: 1.2vw;
      margin-left: 0.2rem;
    }
  }

  .favoritesNav__btn:nth-child(odd) {
    border-radius:  0 0 0 15px;
    border-right: .05rem  solid #403B6D;
  }

  .favoritesNav__btn:nth-child(even) {
    border-radius:  0 0 15px 0;
  }


  @media only screen and (min-width: 768px) {
  }
}
